body{
	background-color: #CC9999;
	font-family: Monospace;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Shantell Sans', cursive;
}
table{
	margin: .3em;
	width: .290px;
}
td{
	background-color: #CC9999;
	border: 1px solid #900; 
	padding-left: .5em;
	padding-right: .5em;
}
.centerCell{
	text-align: center;
}

.my-inputs {
    flex-direction: column;
    margin-bottom: 5px;
}